/* common */
body{
  margin: 0;
  font-family:Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
}

img{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

a {
  color: #2b2a27;
}


/* main */
/* hero */
#hero img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center top;

}

/* Recipe */
.text{
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.text h1{
  font-size: 32px;
}

.text p{
  font-size: 16px;
  line-height: 1.5;
}

/* pic */
.pic ul{
  display: flex;
}

.pic li{
  width: calc(100% / 3);
  cursor: pointer;
}

.pic li:hover{
  opacity: .7;
}

.pic ul img{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* btn */
.text .btn{
  display: inline-block;
  text-decoration: none;
  border: solid 1px #2b2a27;
  padding: 18px 60px;
  font-size: 0.875rem;
}

/* sns */
footer{
  text-align: center;
}
.sns a + a{
  margin-left: 16px;
}

footer small{
  padding: 24px;
  display: block;
}

/* mobile */
@media screen and (max-width:834px){

  .pic ul{
    display: flex;
    flex-direction: column;
  }

  .pic li{
    width: 100%;
  }


}
